footer {
    background-color: var(--spl-color-1);
    color: var(--font-color-1);
}

footer a {
    color: var(--font-color-1);
    text-decoration: underline;
}

footer a:hover {
    color: var(--spl-color-2) !important;
}