<div id="submit-notes" class="section cards-container">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column" *ngFor="let card of cards">
                <div class="card" (click)="onToggle(card)">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{card.heading}}</p>
                            </div>
                        </div>

                        <div class="content">
                            {{card.description}}

                        </div>
                        <img src="{{card.icon}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section panels-container">
    <div class="container">
        <div class="columns is-multiline">

            <app-notes-app-panel class="column is-full columns is-vcentered is-multiline" *ngIf="cards[0].selected">
            </app-notes-app-panel>
            <app-upload-panel class="column is-full columns is-vcentered is-multiline" *ngIf="cards[1].selected">
            </app-upload-panel>
            <app-url-panel class="column is-full columns is-vcentered is-multiline" *ngIf="cards[2].selected">
            </app-url-panel>


        </div>
    </div>
</div>