<nav class="navbar is-fixed-top">

    <div class="container">
        <div class="navbar-brand"><a href="#" class="navbar-item"><img src="../../../assets/images/logo.svg"
                    alt="Logo"></a></div>
        <div class="navbar-menu">
            <div class="navbar-end"><a href="#" class="navbar-item nav-link">Home</a>
                <a href="home/#features" class="navbar-item nav-link">Features</a>
                <a href="" class="navbar-item nav-link">Login / Sign Up</a>
            </div>
        </div>
    </div>
</nav>