.panels-container {
    position: relative;
    background-color: var(--prim-color-2);
}

.panels-container.arrow-top:after {
    content: " ";
    position: absolute;
    left: 24%;
    top: -50px;
    border-top: none;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid var(--prim-color-2);
}