<div class="section panels-container arrow-top mt-5">
    <div class="container">
        <div class="columns is-multiline">
            <!-- <app-upload-panel class="column is-full columns is-vcentered is-hidden" [ngClass]="showAndHide(0)"> -->
            <app-upload-panel class="column is-full columns is-vcentered is-hidden"></app-upload-panel>
            <!-- <app-url-panel class="column is-full columns is-vcentered is-hidden" [ngClass]="showAndHide(1)"> -->
            <app-url-panel class="column is-full columns is-vcentered is-hidden"></app-url-panel>
            <!-- <app-notes-app-panel class="column is-full columns is-vcentered is-hidden" [ngClass]="showAndHide(2)"> -->
            <app-notes-app-panel class="column is-full columns is-vcentered is-hidden"></app-notes-app-panel>
            <app-card-preview class="column is-full columns is-vcentered"></app-card-preview>

        </div>
    </div>
</div>