<div class="column">
    <h2 class="is-size-3 mb-5 has-text-weight-semibold">Your Flashcards are ready!</h2>
    <p class="is-size-5 mt-5 pt-2">Scan/capture and upload your handwritten notes! Our OCR software will
        convert your handwriting into plain text and generate flashcards, mind-maps and so much more for
        you.
        
    </p>
    <button class="button is-size-5 mt-5 mr-4 has-text-weight-semibold"><a href="">Download</a></button>
    <button class="button is-size-5 mt-5 has-text-weight-semibold"><a href="">Take a Look!<img class="open-icon ml-2"
                src="https://signal.org/assets/icons/external-link-alt-cdef7b31e9343f9af191079e0d6f34fe3f0d308d36376d6623457e5a8308dd6f.svg"
                alt="Open in new tab"></a></button>
</div>
<div class="column has-text-centered" (click)="getQuestions()">
    <div class="flashcards px-6 is-centered">
        <h3 class="is-size-4 pt-6 has-text-weight-semibold">Chapter: Cognitive Therapy</h3>
        <p class="is-size-5 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque soluta molestias
            unde cupiditate, porro nemo at. Consequatur odio molestias quo nobis aspernatur! Facilis mollitia delectus
            consequuntur.</p>
            <div>{{questions | json}}</div>
    </div>
</div>
