<section class="section flashcards-container">
    <div class="container flashcards has-text-centered">
        <p class="title py-3">
            Your Flashcards are ready!
        </p>
        <p class="subtitle pb-5">
            Use the arrows to change cards. Click on a card to check the answer.
        </p>
        <div class="card-stack">
            <a class="buttons prev">
                < </a>
                    <ul class="flash-card-list">
                        <li class=" flash-card">
                        </li>
                        <li class="flash-card"></li>
                        <li class="flash-card"></li>
                        <li class="flash-card"></li>
                        <li class="flash-card is-size-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Vitae veniam quam quod rerum, doloribus magni dolores reprehenderit doloremque minima eaque
                            consequatur dicta ratione fuga sequi possimus, id asperiores accusantium laboriosam!
                        </li>
                    </ul>
                    <a class="buttons next"> > </a>
        </div>
        <button class="button is-size-5 mt-6 mr-5 has-text-weight-semibold">Save Flashcards</button>
        <button class="button is-size-5 mt-6 has-text-weight-semibold" [routerLink]="['/home']">Try
            Again</button>
    </div>
</section>