<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column"><img src="../../../../assets/images/note.png" alt=""></div>
            <div class="column is-two-thirds">
                <h2 class="is-size-3 mb-5 has-text-weight-semibold">Feature Tagline</h2>
                <p class="is-size-5 mt-5 pt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, at. Vero
                    blanditiis unde culpa officiis aspernatur molestiae repudiandae consequatur maxime alias quos,
                    magnam omnis. Sed, rem ex. Fuga quos sequi expedita accusantium ex nobis ipsa officiis repudiandae
                    earum rerum. Consectetur dolore obcaecati laborum in eius ullam autem aperiam voluptatem iusto!</p>
                <button class="button is-size-5 mt-5 has-text-weight-semibold"><a href="">Try
                        It!</a></button>
            </div>

        </div>
    </div>
</section>